<!DOCTYPE html>
<html>
  <head>
    <title>Ui</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag    "ui/application", media: "all" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": reload %>
  </head>
  <body>
    <%= yield %>
    <div class="p-6 rounded-lg bg-red-300">Test<div>
  </body>
</html>
